header {
  border-bottom: 1px solid #e7e7e7;
}

.cart {
  cursor: default;
  border-bottom: solid 5px #FF6E00;
}

.cart:hover .inactive {
  display: block;
}

.cart:hover .active {
  display: none;
}

.cartBlock {
  margin: 0 auto;
  max-width: 900px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
}
.cartItem img{
  height: 190px;
}