header {
  border-bottom: 1px solid #e7e7e7;
}

.cart {
  cursor: default;
  border-bottom: solid 5px #FF6E00;
}

.cart:hover span {
  color: black;
}

.cart:hover .inactive {
  display: block;
}

.cart:hover .active {
  display: none;
}

.cartBlock {
  margin: 0 auto;
  max-width: 900px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  align-items: center;
}

.cartItem .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
}

.cartItem img {
  height: 150px;
  margin-right: 20px;
}

.cartItem h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.cartItem .cartAuthor {
  color: #8a8a8a;
  margin-bottom: 10px;
}

.cartItem .total {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.cartControls {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartItem button {
  border: 1px solid #FF6E00;
  color: #FF6E00;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 550;
  transition: 0.3s;
  cursor: pointer;
  width: 40px;
  min-width: 30px;
  height: 30px;
}

.cartTotal {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  background-color: #111111;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.cartTotal button{
  margin-left: auto;
  border: none;
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}